services:
  calibre-web-automated:
    # https://github.com/crocodilestick/Calibre-Web-Automated
    # https://hub.docker.com/r/crocodilestick/calibre-web-automated/tags
    image: crocodilestick/calibre-web-automated:V3.1.4
    container_name: calibre-web-automated
    security_opt:
      - no-new-privileges=true
    restart: unless-stopped
    environment:
      - PUID=${BOOKS_UID}
      - PGID=${MEDIA_SHARED_GID}
      - TZ=${TZ}
    labels:
      stack-back.volumes: true
      stack-back.volumes.include: "calibre-web-automated_config"

      # logs collection
      logging: promtail
      logging_jobname: containerlogs
      stackname: asot-media

      traefik.enable: true

      # Listen on http, but redirect all requests to https
      traefik.http.routers.cwa-http.rule: Host(`cwa.${DOMAIN}`)
      traefik.http.routers.cwa-http.entrypoints: http
      traefik.http.routers.cwa-http.middlewares: redirect-https

      # Direct all https requests to the service, checking with crowdsec first
      traefik.http.routers.cwa-opds.rule: Host(`cwa.${DOMAIN}`) && PathPrefix(`/opds`)
      traefik.http.routers.cwa-opds.entrypoints: https
      traefik.http.routers.cwa-opds.tls: true
      traefik.http.routers.cwa-opds.tls.certresolver: ${CERT_RESOLVER}
      traefik.http.routers.cwa-opds.service: cwa
      traefik.http.routers.cwa-opds.middlewares: crowdsec-bouncer
      
      traefik.http.routers.cwa-https.rule: Host(`cwa.${DOMAIN}`)
      traefik.http.routers.cwa-https.entrypoints: https
      traefik.http.routers.cwa-https.tls: true
      traefik.http.routers.cwa-https.tls.certresolver: ${CERT_RESOLVER}
      traefik.http.routers.cwa-https.service: cwa
      traefik.http.routers.cwa-https.middlewares: cwa-chain

      traefik.http.services.cwa.loadbalancer.server.port: 8083

      traefik.http.middlewares.cwa-chain.chain.middlewares: crowdsec-bouncer,authentik

      # network policy
      whalewall.enabled: true
      whalewall.rules: |
        output:
          # DNS
          - proto: udp
            dst_ports:
              - 53
          # HTTP/S
          - proto: tcp
            dst_ports:
              - 80
              - 443
          # SMTP
          - proto: tcp
            dst_ports:
              - 587
          # reverse proxy
          - network: common_backend
            container: traefik
    logging:
      driver: json-file
      options:
        max-size: 1m
        max-file: 1
        tag: "{{.Name}}"
    volumes:
      - calibre-web-automated_config:/config
      - ${ZFS_POOL_ROOT_HDD}/media/cwa-book-ingest:/cwa-book-ingest
      - ${ZFS_POOL_ROOT_HDD}/media/books:/calibre-library
    networks:
      - backend

  shelfmark:
    image: ghcr.io/calibrain/shelfmark:v1.1.1
    container_name: shelfmark
    security_opt:
      - no-new-privileges=true
    restart: unless-stopped
    environment:
      - UID=${BOOKS_UID}
      - GID=${MEDIA_SHARED_GID}
      - TZ=${TZ}
      - AA_DONATOR_KEY=${AA_DONATOR_KEY}
    labels:
      # logs collection
      logging: promtail
      logging_jobname: containerlogs
      stackname: asot-media

      traefik.enable: true

      # Listen on http, but redirect all requests to https
      traefik.http.routers.shelfmark-http.rule: Host(`cwd.${DOMAIN}`)
      traefik.http.routers.shelfmark-http.entrypoints: http
      traefik.http.routers.shelfmark-http.middlewares: redirect-https

      # Direct all https requests to the service, checking with crowdsec first
      traefik.http.routers.shelfmark-https.rule: Host(`cwd.${DOMAIN}`)
      traefik.http.routers.shelfmark-https.entrypoints: https
      traefik.http.routers.shelfmark-https.tls: true
      traefik.http.routers.shelfmark-https.tls.certresolver: ${CERT_RESOLVER}
      traefik.http.routers.shelfmark-https.service: shelfmark
      traefik.http.routers.shelfmark-https.middlewares: shelfmark-chain

      traefik.http.middlewares.shelfmark-chain.chain.middlewares: crowdsec-bouncer,authentik

      traefik.http.services.shelfmark.loadbalancer.server.port: 8084

      # network policy
      whalewall.enabled: true
      whalewall.rules: |
        output:
          # DNS
          - proto: udp
            dst_ports:
              - 53
          # HTTP/S
          - proto: tcp
            dst_ports:
              - 80
              - 443
          # reverse proxy
          - network: common_backend
            container: traefik
    logging:
      driver: json-file
      options:
        max-size: 1m
        max-file: 1
        tag: "{{.Name}}"
    volumes:
      - cwa-downloader_config:/config
      - ${ZFS_POOL_ROOT_HDD}/media/cwa-book-ingest:/cwa-book-ingest
      - ${ZFS_POOL_ROOT_HDD}/media/audiobooks:/audiobooks
      - ${ZFS_POOL_ROOT_HDD}/media/tordl/cwd-books:/data/tordl/cwd-books
      - ${ZFS_POOL_ROOT_HDD}/media/tordl/cwd-audiobooks:/data/tordl/cwd-audiobooks
      - ${ZFS_POOL_ROOT_HDD}/media/nzbdl/completed/Books:/data/nzbdl/completed/Books
      - ${ZFS_POOL_ROOT_HDD}/media/nzbdl/completed/Audiobooks:/data/nzbdl/completed/Audiobooks
    networks:
      - backend
    
volumes:
  calibre-web-automated_config:
  cwa-downloader_config:

