services:
  mitmproxy:
    # https://hub.docker.com/r/mitmproxy/mitmproxy
    image: mitmproxy/mitmproxy:12.2.1
    command: mitmweb --web-host 0.0.0.0 --set web_password=${MITMPROXY_WEB_PASSWORD} -s /addons/rewrite_xml.py
    security_opt:
      - no-new-privileges=true
    container_name: mitmproxy
    restart: unless-stopped
    ulimits:
      nofile:
        soft: 65536
        hard: 65536
    environment:
      - ORX_PSK=${ORX_PSK}
      - ORX_BASE=${ORX_BASE}
    labels:
      # logs collection
      logging: promtail
      logging_jobname: containerlogs
      stackname: xfer

      traefik.enable: true

      # Listen on http, but redirect all requests to https
      traefik.http.routers.mitmproxy-http.rule: Host(`mmp.${DOMAIN}`)
      traefik.http.routers.mitmproxy-http.entrypoints: http
      traefik.http.routers.mitmproxy-http.middlewares: redirect-https

      # Direct all https requests to the service
      traefik.http.routers.mitmproxy-https.rule: Host(`mmp.${DOMAIN}`)
      traefik.http.routers.mitmproxy-https.entrypoints: https
      traefik.http.routers.mitmproxy-https.tls: true
      traefik.http.routers.mitmproxy-https.tls.certresolver: ${CERT_RESOLVER}
      traefik.http.routers.mitmproxy-https.service: mitmproxy
      traefik.http.routers.mitmproxy-https.middlewares: crowdsec-bouncer

      traefik.http.services.mitmproxy.loadbalancer.server.port: 8081

      # network policy
      whalewall.enabled: true
      whalewall.rules: |
        output:
          # DNS
          - proto: udp
            dst_ports:
              - 53
          # HTTP/S
          - proto: tcp
            dst_ports:
              - 80
              - 443
          # reverse proxy
          - network: common_backend
            container: traefik
          # downstream services
          - network: common_backend
            container: nzbhydra2
          - network: common_backend
            container: prowlarr
    logging:
      driver: json-file
      options:
        max-size: 1m
        max-file: 1
        tag: "{{.Name}}"
    volumes:
      - mitmproxy_data:/home/mitmproxy/.mitmproxy
      - ./rewrite_xml.py:/addons/rewrite_xml.py:ro
    networks:
      - backend

  openresty:
    # https://hub.docker.com/r/openresty/openresty
    image: openresty/openresty:1.27.1.2-4-bullseye
    security_opt:
      - no-new-privileges=true
    container_name: openresty
    restart: unless-stopped
    environment:
      - ORX_PSK=${ORX_PSK}
    labels:
      # logs collection
      logging: promtail
      logging_jobname: containerlogs
      stackname: xfer

      traefik.enable: true

      # Listen on http, but redirect all requests to https
      traefik.http.routers.openresty-http.rule: Host(`orx.${DOMAIN}`)
      traefik.http.routers.openresty-http.entrypoints: http
      traefik.http.routers.openresty-http.middlewares: redirect-https

      # Direct all https requests to the service
      traefik.http.routers.openresty-https.rule: Host(`orx.${DOMAIN}`)
      traefik.http.routers.openresty-https.entrypoints: https
      traefik.http.routers.openresty-https.tls: true
      traefik.http.routers.openresty-https.tls.certresolver: ${CERT_RESOLVER}
      traefik.http.routers.openresty-https.service: openresty
      traefik.http.routers.openresty-https.middlewares: crowdsec-bouncer

      traefik.http.services.openresty.loadbalancer.server.port: 8080

      # network policy
      whalewall.enabled: true
      whalewall.rules: |
        output:
          # DNS
          - proto: udp
            dst_ports:
              - 53
          # HTTP/S
          - proto: tcp
            dst_ports:
              - 80
              - 443
          # reverse proxy
          - network: common_backend
            container: traefik
    logging:
      driver: json-file
      options:
        max-size: 1m
        max-file: 1
        tag: "{{.Name}}"
    volumes:
      - ./nginx.conf:/usr/local/openresty/nginx/conf/nginx.conf:ro
    networks:
      - backend

volumes:
  mitmproxy_data:
