services:
  gluetun:
    image: qmcgaw/gluetun:v3.40.3
    container_name: gluetun
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun:/dev/net/tun
    environment:
      - VPN_SERVICE_PROVIDER=${GLUETUN_PROVIDER}
      - VPN_TYPE=${GLUETUN_TYPE}
      - WIREGUARD_PRIVATE_KEY=${GLUETUN_WG_PRIVATE_KEY}
      - SERVER_COUNTRIES=${GLUETUN_COUNTRIES}
      - SERVER_CITIES=${GLUETUN_CITIES}
    labels:
      # logs collection
      logging: promtail
      logging_jobname: containerlogs
      stackname: xfer

    logging:
      driver: json-file
      options:
        max-size: 1m
        max-file: 1
        tag: "{{.Name}}"
    networks:
      - backend