services:
  apprise:
    # https://hub.docker.com/r/caronc/apprise
    image: caronc/apprise:1.3.0
    security_opt:
      - no-new-privileges=true
    container_name: apprise
    restart: unless-stopped
    labels:
      # logs collection
      logging: promtail
      logging_jobname: containerlogs
      stackname: xfer

      # network policy
      whalewall.enabled: true
      whalewall.rules: |
        output:
          # DNS
          - proto: udp
            dst_ports:
              - 53
          # HTTP/S
          - proto: tcp
            dst_ports:
              - 80
              - 443
          # downstream services
          - network: common_backend
            container: nzbhydra2
    logging:
      driver: json-file
      options:
        max-size: 1m
        max-file: 1
        tag: "{{.Name}}"
    volumes:
      - apprise_config:/config
    networks:
      - backend

volumes:
  apprise_config:
